<header class="grid grid-cols-1 md:grid-cols-3 items-center py-5 w-full max-w-screen-lg mx-auto px-4">
    <div class="flex justify-center md:justify-start">
        <img class="rounded-full w-12 h-12" src="${Astro.site}/img/yo.webp" alt="mi foto">
    </div>
    <nav class="flex justify-center gap-5 mt-4 md:mt-0 opacity-80">
        <a href="/">Inicio</a>
        <a href="about">Acerca</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#certificaciones">Certificaciones</a>
        <a href=""></a>

    </nav>

</header>